subscription_id              = ""
location                     = ""
resource_group_name          = ""
container_registry_name      = ""
container_app_environment_name = ""
container_app_name           = ""
log_analytics_workspace_name = ""
user_assigned_identity_name  = ""
image_repository             = ""
image_tag                    = ""

