subscription_id              = "327d6e72-8532-40c7-be44-b9754e7d17ed"
location                     = "South Central US"
resource_group_name          = "rg-leenuxos-lee-prod"
container_registry_name      = "leenuxosleeacr816"
container_app_environment_name = "cae-leenuxos-lee-prod"
container_app_name           = "ca-leenuxos-lee-prod"
log_analytics_workspace_name = "log-leenuxos-lee-prod"
user_assigned_identity_name  = "id-leenuxos-lee-prod"
image_repository             = "lee-site"
image_tag                    = "latest"
