subscription_id     = "00000000-0000-0000-0000-000000000000"
location            = "South Central US"
resource_group_name = "rg-leenuxos"
storage_account_name = "leenuxostfstate816"
container_name      = "tfstate"
